@import url('styles_shared.css');

main {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.contenido-principal {
    max-width: 900px;
    width: 100%;
    text-align: center;
}

.contenido-principal h2 {
    font-size: 2.5em;
    font-weight: lighter;
    margin-bottom: 10px;
    color: #333;
}

.contenido-principal hr {
    margin: 0 auto 20px;
    width: 170px;
}

.filtros-busqueda {
    margin-bottom: 15px;
    text-align: left;
    border: black solid 1px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.filtro {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;
}

.filtro .align-right {
    margin-left: auto;
}

.filtro select {
    width: 100px;
}

.filtros-busqueda .cb-dias {
    display: flex;
}

.filtros-busqueda .cb-dias label {
    margin-right: 30px;
}

.filtros-busqueda .cb-dias input[type="checkbox"] {
    margin-right: 10px;
}

.filtros-busqueda button {
    padding: 5px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.lista-rides table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.lista-rides th,
.lista-rides td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.lista-rides th {
    background-color: #f8f8f8;
}

.lista-rides td a {
    color: #007bff;
    text-decoration: none;
}

#mapa {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#form-responsive-2,
div.responsive-2,
th#view,
h2#main-title-responsive,
button#search-ride-responsive {
    display: none;
}

.clear-filter {
    justify-content: start;
    display: flex;
    margin: 0 0 15px 0;
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 1024px) and (min-width: 380px) {
    #form-responsive-2 {
        display: block;
    }

    #form-responsive-1,
    .contenido-encabezado,
    #title-menu,
    .filtro:last-child,
    #search-ride,
    th#seats,
    th#car,
    th#fee,
    th#actions,
    img#mapa {
        display: none;
    }

    h2#menu-selec {
        font-size: 14px;
        font-weight: lighter;
    }

    div.responsive-2 {
        display: flex;
    }

    div#form-responsive-2 .filtro {
        display: flex;
        font-size: 13px;
        gap: 15px;
        margin: 0 10px;
    }

    .filtro select {
        font-size: 13px;
        width: 80px;
    }

    .filtros-busqueda {
        padding: 20px 0px;
    }

    .filtros-busqueda button {
        padding: 4px 12px;
        border-radius: 3px;
    }

    button#search-ride-responsive {
        display: block;
    }

    th#view {
        display: table-cell;
    }

    h2#main-title-responsive {
        font-size: 20px;
        font-weight: bold;
        display: grid;
        justify-items: start;
        margin-bottom: 20px;
    }
}